html{
    overflow: hidden;
    padding: 0%;
    margin: 0%;
}
#title{
    position: fixed;
    left: 50vw;
    transform: translateX(-50%);
    top: 4rem;
    font-family: thefont;
    color: white;
    font-size: 5rem;
}
#ocean{
    background-image: url(../../images/Ocean.png);
    background-size: 12rem;
    width: 100vw;
    height: 70vh;
}
#sand {
    background-image: url(../../images/Sand.png);
    background-repeat: repeat-x;

    background-position: top;
        background-size: 12rem;
        width: 100vw;
        height: 10rem;
}
#sand2 {
    background-image: url(../../images/Sand2.png);
    background-size: 12rem;
    width: 100vw;
    height: 100rem;
}
.umb{
    width: 100%;
    z-index: 0;
}
.text{
    position: absolute;
    left: 20vw;
    bottom: 1rem;
    transform: translateX(20%);
    &:nth-of-type(1) {
        left: 60vw;
    }
    z-index: 1;
    font-family: thefont;
    color: white;
    font-size: 3rem;
    width: 20vw;
}
.umb2 {
    
    position: absolute;
    left: 20vw;
    bottom: 1rem;
    width: 24rem;
    &:nth-of-type(1) {
        left: 60vw;
    }
}
#showcase{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: absolute;
    top: 15rem;
    left: 50%;
    transform: translateX(-50%);
    width: 50rem;
    height: 20rem;
    justify-content: space-between;
    img{
        width: 40%;
        height: 100%;
        object-fit: cover;
    }
    p{
    width: 50%;
    height: 100%;
    color: white;
    font-size: 2rem;
    font-family: thefont;
    overflow: scroll;
    overflow-x: hidden;
    }
}
@font-face {
    font-family: thefont;
    src: url(../../BMarmy.TTF);
}
@media (max-width: 1200px) {
    :root {
        font-size: 70%;
    }
}
@media (max-width: 900px) {
    :root {
        font-size: 60%;
    }
}
@media (max-width: 800px) {
    :root {
        font-size: 50%;
    }
}
@media (max-width: 700px) {
    #showcase {
        top: 30rem;
    }
    :root {
        font-size: 50%;
    }
        .text {
            position: absolute;
            left: 20vw;
            bottom: 10rem;
            transform: translateX(20%);
    
            &:nth-of-type(1) {
                left: 60vw;
            }
    
            z-index: 1;
            font-family: thefont;
            color: white;
            font-size: 3rem;
            width: 20vw;
        }
    
        .umb2 {
    
            position: absolute;
            left: 20vw;
            bottom: 10rem;
            width: 24rem;
    
            &:nth-of-type(1) {
                left: 60vw;
            }
        }
}
@media (max-width: 610px) {
    
    :root {
        font-size: 40%;
    }
}
@media (max-width: 500px) {
    #showcase {
            top: 50rem;
        }
    :root {
        font-size: 30%;
    }
}
@media (max-width: 300px) {
    #showcase {
        top: 80rem;
    }

    :root {
        font-size: 20%;
    }
}

